$primary-color:       #0077c7;
// 557575
$red:                 #cd1724;
$light-red:           #e68c92;
$light-green:         #93d14f;

//  text
$text-base:           #526D7A;
$text-secondary:      #ABB5BA;
$text-contrast:       #001529;

$background-sidebar:  #f5f3f6;

// table
$table-striped:       #f5f3f6;
$table-border:        #ABB5BA;

// placement modal
$place-background:      #C4D3DB;
$place-busy-background: #FFB74D;
$place-selected-background: $primary-color;

//offset
$offset-xxl:    56px;
$offset-xl:     48px;
$offset-lg:     40px;
$offset-md:     32px;
$offset-sm:     24px;
$offset-xs:     16px;
$offset-xxs:    8px;
$offset-xxxs:   4px;

//width
$max-widh-extension: 1920px;


//height
$filter-field:  40px;
$arrow-select:  24px;

// font
$font-size-xl: 56px;
$font-size-lg: 48px;
$font-size-md: 36px;
$font-size-sm: 24px;
$font-size-xs: 16px;
$font-size-xxs: 13px;

// border
$border-radius: 4px;
$collapse-border-radius: 20px;

// width
$max-tablet-width: 1280px;
$max-phone-width: 576px;